@media all and (max-width: 670px) {
    .header-right {
        display: none;
    } 

    .menu-icon {
        display: block;
        
        margin-right: 20px;
    }

    .top-wrapper {
        text-align: center;
    }
      
    .top-wrapper h1 {
        font-size: 32px;
        line-height: 36px;
    }
      
    .top-wrapper p {
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 3px;
    }
}
